.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:1000;

  &:target {
    visibility: visible;
    opacity: 1;
  }


  .modal {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    max-width:1000px;
    position: relative;
    transition: all 5s ease-in-out;
    
    @media screen and (max-width: 700px){
        width: 70%;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;

        &:hover {
        color: #06D85F;
        }
    }


    .content {
        max-height: 30%;
        overflow: auto;
    }
  }
}
