<a name="top"></a>
<ul>
<li><a href="#knownBugs">Known Bugs</a></li>
<li><a href="#undo">How do I undo the transfer of ownership?</a></li>
<li><a href="#longerThan2Mins">The transfer has been paused longer than 2 minutes and it isn't complete.  What do I do?</a></li>
<li><a href="#adminTransfer">Do I need to use this app if I am a G Suite admin?</a></li>
<li><a href="#openissue">How do I report a bug in the app?</a></li>
</ul>

<h4><a name="knownBugs"></a>Known Bugs</h4>
<div class="description">
    <ol>
        <li>
            Transferring ownership will create a reference to every file and folder that you transfer in your root drive.
            <br>
            You can eliminate the additional references by simply dragging the copied at the "My Drive" level into the intended folder.
            This will eliminate the My Drive references to the file.
            <br>
            <a href="https://productforums.google.com/forum/#!topic/drive/ohL9YQarCec">Reference</a>
        </li>
        <li>
            Transferring ownership of anything except Google Drive files (e.g. PDFs, images, plain text files, etc) will not work.
            <br>
            Reference:
            <ol>
                <li>Go to <a href=""></a></li>
                <li>Enter the fileID for a file in your drive that is a PDF, image, etc.</li>
                <li>In the "Request Body", enter this with the email you'd like to transfer to:
                    <pre>
                      "role": "owner",
                      "type": "user",
                      "value": "[[email to transfer to]]"
                    </pre>
                </li>
                <li>You will get a 400 response</li>
            </ol>
        </li>
    </ol>
</div>
<a href="#top">Top</a>


<h4><a name="undo"></a>How do I undo the transfer of ownership?</h4>
<div class="description">
    The transfer of ownership cannot be undone.  If you want to create a personal copy of the folder that is not shared with anyone else, 
    you can use the <a href="https://chrome.google.com/webstore/detail/copy-folder/kfbicpdhiofpicipfggljdhjokjblnhl">Copy Folder</a> tool 
    to create an individual copy of the folder.
</div>
<a href="#top">Top</a>


<h4><a name="longerThan2Mins"></a>The transfer has been paused longer than 2 minutes and it isn't complete.  What do I do?</h4>
<div class="description">
    When the app stops, you can use the "Resume" button to restart the transfer.  
</div>
<a href="#top">Top</a>


<h4><a name="adminTransfer"></a>Do I need to use this app if I am a G Suite admin</h4>
<div class="description">
    Nope!  There are <a href="https://support.google.com/a/answer/1247799?hl=en" target="_blank">instructions here</a> for how to transfer as a G Suite admin.
</div>
<a href="#top">Top</a>


<h4><a name="openissue"></a>How do I report a bug in the app?</h4>
<div class="description">
    If you've found a bug, please <a href="http://github.com/ericyd/gdrive-transfer/issues" target="_blank">open an issue</a> on Github.
</div>
<a href="#top">Top</a>