<a name="top"></a>
<ul>
<li><a href="#undo">How do I undo the transfer of ownership?</a></li>
<li><a href="#longerThan2Mins">The transfer has been paused longer than 2 minutes and it isn't complete.  What do I do?</a></li>
<li><a href="#openissue">How do I report a bug in the app?</a></li>
</ul>


<h4><a name="undo"></a>How do I undo the transfer of ownership?</h4>
<div class="description">
    The transfer of ownership cannot be undone.  If you want to create a personal copy of the folder that is not shared with anyone else, 
    you can use the <a href="https://chrome.google.com/webstore/detail/copy-folder/kfbicpdhiofpicipfggljdhjokjblnhl">Copy Folder</a> tool 
    to create an individual copy of the folder.
</div>
<a href="#top">Top</a>


<h4><a name="longerThan2Mins"></a>The transfer has been paused longer than 2 minutes and it isn't complete.  What do I do?</h4>
<div class="description">
    When the app stops, you can use the "Resume" button to restart the transfer.  
</div>
<a href="#top">Top</a>


<h4><a name="openissue"></a>How do I report a bug in the app?</h4>
<div class="description">
    If you've found a bug, please <a href="http://github.com/ericyd/gdrive-transfer/issues" target="_blank">open an issue</a> on Github.
</div>
<a href="#top">Top</a>