<a name="top"></a>
<ul>
<li><a href="#longerThan2Mins">The copying has been paused longer than 2 minutes and it isn't complete.  What do I do?</a></li>
</ul>


<h4><a name="longerThan2Mins"></a>The copying has been paused longer than 2 minutes and it isn't complete.  What do I do?</h4>
<div class="description">
    When the app stops, you can use the "Resume" button to restart the copying.  When selecting the folder to resume, you must select the <b>in-progress</b> folder, <b>not</b> the original.<br><br>
    For example, if you are creating a copy of "Folder A" called "Copy of Folder A", you should select "Copy of Folder A" when you resume the copying.  Selecting the original folder will return an error.
</div>
<a href="#top">Top</a>