<!--Step 2-->
<div>
    <h2>Step 2</h2>
    <p>
        The folder cannot be transferred to a user with whom the folder is not already shared
    </p>
    <p>
        Please confirm that the folder is shared with the new owner.  In addition, the new owner should 
        <a href="https://support.google.com/drive/answer/2375057?hl=en">add the folder to their drive</a>.
    </p>
    <label for="confirm-folder-shared">
        <input type="checkbox" name="confirm-folder-shared" id='confirm-folder-shared' />
        The folder has been shared with the new owner and they have added it to their drive
    </label>
    <button type="button" id='step2Button'>Continue</button>
</div>