<!--Step 1-->
<div>
    <h2>Step 1</h2>
    <p>
        This process will send lots of emails to the new owner - one for each file and folder, to be specific.
    </p>
    <p>
        There is no way to suppress these emails.  If it will cause an issue, please read about 
        <a href="https://support.google.com/mail/answer/6579?hl=en" target='_blank'>how to create filters in Gmail</a> so you can 
        filter the emails into a separate sub-folder.
    </p>
    <label class="checkbox" for="confirm-many-emails">
        <input type="checkbox" name="confirm-many-emails" id='confirm-many-emails' />
        <span class="checkbox__label">I understand that the transfer process will send a large number to emails to the new owner</span>
    </label>
    <br />
    <button type="button" id='step1Button'>Continue</button>
</div>