<!--Step 3-->
<div>
    <h2>Step 3</h2>
    <p>
        <b>This process cannot be undone.</b> The user selected as new owner will be the sole owner of these files.  You will retain Editing rights on the 
        files and folders.
    </p>
    <p>
        If you have any doubt about whether or not this is the action you want to take, we recommend
        you stop here and confer with the potential new owner about the future of these files.
    </p>
    <label for="confirm-no-undo">
        <input type="checkbox" name="confirm-no-undo" id='confirm-no-undo' />
        I understand this process cannot be undone.
    </label>
    <button type="button" id='step3Button'>Continue</button>
</div>