<!--Form-->
<div id="description" class="description">
    To get started, simply select your folder and enter the email address of the new owner, then select Transfer Folder!<br /><br />
    Just input the folder sharing url and a new owner email, and it will transfer ownership of the folder, including all sub-folders and contents, to the new user.<br /><br />
    This app will recursively trace the folder structure, and is designed to work well for deep folder structures.<br /><br />    
    If the folder transfer get's stuck, simply use the "Resume" button, then select the folder.<br />
</div>


<div id="formDiv" class="form-div">
    <form id="folderForm" name="folderForm">

        <!--Select Folder-->
        Folder to transfer
        <!--Elements to select folder-->
        <div class="folderSelect">
            <button type="button" id="selectFolderButton" class="btn btn--small selectFolderButton">Select Folder</button>
            or
            <label for="newFolder" class="textfield">
                <input type="text" id="folderTextbox" name="newFolder">
                <span class="textfield__label">Paste folder URL (Ctrl-V)</span>
            </label>
        </div>

        <div class="getFolderErrors"></div>
        
        
        <div class="folderLookup">
            Finding folder...<span class="rotate-contents"><i class="spinner"></i></span>
        </div>


        <!--Display when folder is selected-->
        <div class="selectedFolderInfo">
            <span class="folderName"></span> &nbsp;&nbsp;
            <button type="reset" class="btn  btn--small selectOtherFolder">Select other folder</button>
        </div>
        
        <br />


        <!--New folder name-->
        <label class="textfield" for="newOwner">
            <input type="text" id="newOwner" name="newOwner" />
            <span class="textfield__label">New owner email</span>
        </label>

        <!--Submit-->
        <button type="submit" id="transferFolderButton" data-loading-text="Transferring..." class="btn">Transfer folder ownership</button>

    </form>

</div>   